@import url(../chameleon/styles.css);

html,.v-generated-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.v-app {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

.v-view {
  overflow: hidden;
}

.root {
  height: 100%;
  position: relative;
}

.v-csslayout-root>div,.v-csslayout-root>div>div {
  height: 100%;
}

.bar {
  width: 100%;
  height: 2em;
}

.v-csslayout-bar>div,.v-csslayout-bar>div>div {
  width: 100%;
  height: 100%;
}

.v-csslayout-bar>div>div>* {
  display: inline-block;
}

.bar+* {
  position: absolute;
  top: 2em;
  bottom: 0;
  width: 100%;
}

.v-csslayout-properties>div>div>* {
  display: inline-block;
}